$height: 86px;
$color: #565656;

body {
    min-width: 1240px;
    color: #565656;
    background-color:#E6E6E6;
}

.container {
    width: 80%;
    margin: 0 auto;
}

// header
header {
    height: $height;
    line-height: $height;
    background-color:#fff;
}
.container {
    // background-color:#fff;
}

.nav {
    li {
        display: inline-block;

        a {
            display: block;
            height: $height;
            width: 95px;
            color: #565656;
            text-align: center;

            &.active {
                background-color: #EB5513;
                color: #fff;
            }
        }
    }
}

// carousel
.carousel {
    img {
        width: 100%;

        // height:300px !important;
   
    }
}

// user_login_reg
.user_login_reg {
    right: 50px;
    top: 50%;
    margin-top: -120px;
    width:285px;
    height:240px;
    padding:15px;
    padding-top:20px;
    border-radius:5px;

    background-color:#fff;
    .ulr-header{
        font-size:20px;
        font-weight: bold;
    }
    .ulr-header-small {
        font-size:16px;
        font-weight: normal;
    }
    .url-input {
        width:100%;
        display:inline-block;
        border:1px solid #C6C6C6;
        border-radius:5px;
        height:38px;
        padding-left: 5px;
        margin-bottom: 5px;
    }
    .login_btn {
        background-color:#EB5513;
        color:#fff;
        border-radius:5px;
        width:100%;
        height: 38px;
        line-height: 38px;
        text-align: center;
        margin-bottom: 5px;
    }
    .reg_btn {
        color:#EB5513;
        text-align: center;
        margin-bottom: 5px;

    }
    .footage {
        font-size:10px;
    }

}


.news_area {
    width: 50%;
    float: left;
    padding: 0 10px;
}

.news_area-header, .block-center .block-center-header {
    font-size: 18px;
    font-weight: bold;
    color: #5A5A5A;
}

.news_area-header {
    position: relative;
    border-bottom: 2px solid #E6E6E6;
    height: 38px;
    line-height: 38px;

    .news_area-more {
        color: #9A9A9A;
        font-size: 14px;
        margin-right: 5px;
    }

    &:after {
        content: '';
        display: inline-block;
        width: 75px;
        height: 2px;
        background-color: #E85613;
        position: absolute;
        bottom: -2px;
        left: 0;
    }
}

.news_area-items {
    list-style-type: none;
    padding-left: 0;

    .news_area-item {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        a {
            color: #636363;
            height: 34px;
            line-height: 34px;

            .news_area-date {
                padding-right: 15px;
            }
        }
    }
}

// pic section
.pic_section {
    width: 100%;
    height: 180px;
    margin: 20px 0 100px;
    font-size:0;

    div {
        height: 100%;


        img {
            width: 100%;
            height: 100%;
            min-height:180px;
        }
    }

    .home_pic_two {
        width: 26%;
        margin-right: 1%;
    }

    .advertising_video {
        width: 36%;
        margin-right: 1%;
    }

    .home_pic_three {
        width: 36%;
    }
}

@media (min-width: 1200px){
.pic_section  {
        height: 200px;
}
}

// footer
.contact-area {
    
}

.cont {
    // margin-left: 388px;
}

footer {
    padding: 20px 0;
    background-color: #F2F2F2;

    .tips_link {
        text-align: center;

        ul {
            list-style: none;
            padding: 0;

            li {
                display: inline-block;

                a {
                    display: inline-block;
                    position: relative;
                    color: #5A5A5A;
                    padding-right: 5px;
                    padding-left: 5px;

                    &:after {
                        content: '';
                        display: inline-block;
                        width: 1px;
                        height: 12px;
                        background-color: #B0B0B0;
                        position: absolute;
                        right: 0;
                        bottom: 4px;
                    }

                    &.last:after {
                        width: 0px;
                    }
                }
            }
        }
    }

    .qr_code {
        position: absolute;
        right: 30px;
        bottom: -16px;
    }
}

// about page
.about_bg {
    background-image: url(../images/background.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-color: #E6E6E6;

    .content {
        background-color: #fff;
        padding: 40px;
        margin: 25px auto 0px;
        width: 80%;
        height: 100%;
        margin-bottom: 40px;
    }

    // display:block;
    width: 100%;
    // height: calc(100vh - 166px);
    padding-bottom: 80px;
}

.about_nav {
    background: rgba(93, 93, 93, 0.5);
    height: 40px;
    line-height: 40px;

    // .ul {
    //  width:420px;
    //  margin:0 auto;  
    // }
    li {
        display: inline-block;
    }

    a {
        display: inline-block;
        color: #fff;
        margin: 0 15px;
        height: 40px;

        &:hover, &.active {
            text-decoration: none;
            border-bottom: 4px solid #EB4A00;
            opacity: none;
        }
    }
}

.center-image {
    display: block;
    margin: 50px auto;
}

// investor relation
.block {
    position: relative;
    background-color: RGB(242, 242, 242);

    .block-left, .block-right, .block-center {
        vertical-align: top;
    }

    .block-left, .block-right {
        width: 100px;
        height: 100px;
    }

    .block-left {
        background-color: RGB(225, 225, 225);
        padding-left: 30px;
        padding-top: 10px;

        .block-left-day {
            font-size: 30px;
            color: RGB(232, 82, 22);
            font-weight: bold;
        }

        .block-left-year {
            margin-top: -3px;
        }
    }

    .block-center {
        padding-left: 10px;
        padding-top: 20px;

        .block-center-author {
            padding-top: 5px;
            font-size: 14px;
            color: #AFAFAF;
        }
    }

    .block-right {
        position: absolute;
        right: 0;
        top: 0;

        &:before {
            content: '';
            display: inline-block;
            width: 2px;
            height: 80px;
            background-color: #E7E7E7;
            position: absolute;
            top: 10px;
            left: 0;
        }

        img {
            margin-top: 23px;
            margin-left: 35px;
        }
    }
}

// contact_area
.contact_area {
    margin-top: 40px;
    margin-left: 40px;

    img {
        margin-right: 40px;
        // margin-top: 30px;
        height:530px;
    }
}

.contact {
    margin-bottom: 20px;

    .contact-header {
        font-size: 22px;
        font-weight: bold;
        margin-bottom: 3px;
        color:#E85613;
    }

    .contact-address {
        font-size: 16px;
    }
}

// outside nav
.links {
    margin-top: 40px;

    .links-item {
        width: 150px;
        height: 100px;
        margin: 20px;
        display: inline-block;

        img {
            width: 100%;
        }
    }
}

.maps {
    padding: 40px;
    text-align: center;

    .maps_item {
        float: left;
        width: 25%;

        .maps_item-header {
            color: #FF8357;
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 15px;
        }

        li a {
            color: $color;
            height: 30px;
            line-height: 30px;
        }
    }
}

// invest query
.header-style1 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
}

.investor-query-left {
    display: inline-block;
    padding-left: 25px;
    width: 120px;
    height: 30px;
    line-height: 30px;
}

.investor-query-right {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    margin-bottom: 5px;
}

.nes-explain, .nes {
    color: #F25123;
}

.query-input {
    width: 300px;
    height: 28px;
}

.query-input-code {
    width: 100px;
}

.query-input.hint {
    border: 1px solid #EB7445;
}

.query-textarea {
    border-color: #C5C5C5;
    width: 410px;
    height: 130px;
}

.code-pic {
    height: 30px;
}

// news
.news_detail {
    padding-bottom: 10px;
    border-bottom: 2px solid #F4F5F5;
    padding-top: 5px;

    .news_detail-left {
        img {
            width: 160px;
            height: 100px;
            margin: 5px;
        }
    }

    .news_detail-right {
        padding-left: 190px;
        padding-top: 10px;

        .news_detail-header {
            font-size: 18px;
            font-weight: bold;

            .data {
                font-size: 14px;
                color: $color;
                font-weight: normal;
            }
        }
    }
}




#duty .about_bg{
    background-image: none;
    .society-res {
        height: 200px;
        background-image: url(../images/society-res.jpg) ;
        background-position:center;
    }
    a{
        color: #565656;
    }
    .friend-link {
        margin-top: 20px;
        text-align: center;
    }
}
.content a{
    color: #565656 !important;
}

.content .fr a.active {
    color:red !important;
}


.manager .news_detail .news_detail-left img {
    width: 80px;
}

.manager .news_detail .news_detail-right {
    padding-left: 90px;
    
}

.manager .nav  li {
    a.auto {
        height:auto;
        width:auto;
    }
}

.content a.mailto {
    color:#F25123 !important;
}



.table {
    tbody .header {
        background-color:#E5E6E7;
    }
}

.job-des {
   background-color:#F9FAFB;
   padding:20px;
   display:none;
}

.job-title {
    cursor: pointer;
}

.detail-word {
    color:#EB4A00;
}

.carousel-indicators {
    bottom:10px;
}

.carousel-indicators .active {
    background-color:#EB4A00 !important;

}

.map-pic {
        width: calc(100% + 80px);
    margin-left: -40px;
    /* margin-right: -40px; */
    margin-bottom: -40px;
}

.cont {
    text-align: left;
}


.big-event-header {
    font-weight:bold;
    font-size:18px;
   

}
 .big-event-header-ul li {
    height:30px;
    line-height: 30px;
 }
 .big-event-header-ul li:before{
        // list-style: initial;
        // list-style-position:inside;
        // margin-left: 20px;
        // 
            content: "";
            width:5px;
            height:5px;
            border-radius:50%;
            background-color:#EB4A00;
            display:inline-block;
            vertical-align:middle;
            margin-right:5px;
            margin-left:65px;
        
}

.big-event-align {
    min-width:800px;
    max-width:1000px;
    margin:0 auto;
}
